{{ define "내용" }}

<form class="form-signin" role="form" action="/signup_account" method="post">
  <h2 class="form-signin-heading">
    <i class="fa fa-comments-o">
      칫챗
    </i>
  </h2>
  <div class="lead">아래 계정을 위한 가입</div>
  <input id="name" type="text" name="이름" class="form-control" placeholder="이름" required autofocus>
  <input type="email" name="이메일" class="form-control" placeholder="이메일 주소" required>
  <input type="password" name="암호" class="form-control" placeholder="암호" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">가입하기</button>
</form>

{{ end }}